h2 {
  line-height: 1.66;
  margin: 0;
  padding: 0;
  font-weight: 900;
  color: #222;
  font-family: 'Montserrat';
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px; 
}

.cc {
  width: 660px;
  position: relative;
  margin: 0 auto; 
}

.sig {
  background: #fff;
  -webkit-border-radius: 10px;
  padding: 50px 85px; 
}

button {
text-align: center;
width: 250px;

  border-radius: 12px;

}


