<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletPostagem</servlet-name>
        <servlet-class>servlet.ServletPostagem</servlet-class>
        <multipart-config>
            <max-file-size>418018841</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>418018841</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>ServletUsuario</servlet-name>
        <servlet-class>servlet.ServletUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>servlet.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletComentario</servlet-name>
        <servlet-class>servlet.ServletComentario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletPostagem</servlet-name>
        <url-pattern>/ServletPostagem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUsuario</servlet-name>
        <url-pattern>/ServletUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletComentario</servlet-name>
        <url-pattern>/ServletComentario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
